@model MCGA.Data.Agenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_desde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_desde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_hasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_desde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_desde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_hasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EspecialidadesProfesional.createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EspecialidadesProfesional.createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDia.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDia.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
