@model MCGA.Data.Cancelacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cancelacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.detalle_cancel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalle_cancel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_cancel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_cancel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCancelacion.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCancelacion.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turno.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno.Observaciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
