@model IEnumerable<MCGA.Data.Turno>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Raw("Fecha")
        </th>
        <th>
            @Html.Raw("Hora")
        </th>
        <th>
            @Html.Raw("Especialidad")
        </th>
        <th>
            @Html.Raw("Profesional")
        </th>
        <th>
            @Html.Raw("Afiliado")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EspecialidadesProfesional.Especialidad.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EspecialidadesProfesional.Profesional.Nombre)
            @Html.DisplayFor(modelItem => item.EspecialidadesProfesional.Profesional.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afiliado.Nombre)
            @Html.DisplayFor(modelItem => item.Afiliado.Apellido)
        </td>
        <td>
            @Html.Raw(item.Observaciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
@Html.Partial("_RegistrarDatos")
@section Scripts {
    <script>
        $(document).ready(function () {
            // Handler for .ready() called.
            $("#registrarDatos").modal('show');
        });
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}